<template>
  <q-card>
    <q-img
      src="../assets/profilePicture.jpg"
      :alt="profile.name"
      height="234px"
    />
    <q-card-section>
      <div class="text-h6 q-mb-xs">{{ profile.name }}</div>
      <div class="text-italic q-mb-xs">{{ age }} years old</div>
    </q-card-section>

    <q-list>
      <!-- <q-item clickable :href="'tel:'+ profile.tel"> -->
      <q-item clickable>
        <q-item-section avatar>
          <q-icon name="mdi-phone" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Phone</q-item-label>
          <q-item-label caption>{{ profile.tel }}</q-item-label>
        </q-item-section>
      </q-item>

      <!-- <q-item clickable :href="'mailto:'+ profile.email"> -->
      <q-item clickable>
        <q-item-section avatar>
          <q-icon name="mdi-email" />
        </q-item-section>

        <q-item-section>
          <q-item-label>e-mail</q-item-label>
          <q-item-label caption>{{ profile.email }}</q-item-label>
        </q-item-section>
      </q-item>

      <!-- <q-btn :href='profile.mapLink' target='_blank' icon='mdi-map-marker' /> -->
      <q-item clickable>
        <q-item-section avatar>
          <q-icon name="mdi-map-marker" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Location</q-item-label>
          <q-item-label caption>{{ profile.location }}</q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar>
          <q-icon name="mdi-earth" />
        </q-item-section>

        <q-item-section>
          <q-item-label>Languages</q-item-label>
          <q-item-label caption>{{ profile.languages }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</template>

<script>
export default {
  name: 'IdentityCard',
  data: () => ({
    profile: {
      name: 'Yann Ponzoni',
      email: 'yann.ponzoni@gmail.com',
      tel: '+33652054637',
      location: 'Montpellier - Millenaire',
      mapLink: 'https://goo.gl/maps/AtXjqrVUCRa2jain6',
      languages: 'French / English',
    },
  }),
  computed: {
    age() {
      return new Date().getFullYear() - 1983;
    },
  },
};
</script>

<style scoped></style>
<script setup lang="ts"></script>
