<template>
  <q-card class='q-ma-md'>

    <q-card-section  style='background-color: #222'>
      <span class='text-h5 text-primary'>
        {{ project.title }}
      </span>
      <br />

      <span class='q-gutter-sm'>
        <img v-if='project.owned' src='https://img.shields.io/badge/personal-deepgreen?style=plastic' alt='personal' />
        <img v-else src='https://img.shields.io/badge/contribution-orange?style=plastic' alt='contrib' />
        <img v-for='badge in project.badges' :key='badge' :src='badge' alt='badge' />
      </span>
    </q-card-section>

    <q-card-section>
      <span class='text-italic'>
        {{ project.description }}
      </span>
    </q-card-section>

    <q-card-section>
      <q-chip outline color='grey' size='sm' v-for='tag in project.tags' :key='tag' :label='tag' />
    </q-card-section>

    <q-card-actions style='background-color: #222'>
      <q-btn
        v-if='project.git'
        glossy
        outline
        color='deep-orange'
        icon='mdi-git'
        :href='project.git'
        target='_blank'
        label='Git'
        size='sm'
      />
      <q-btn
        v-if='project.website'
        glossy
        outline
        color='primary'
        icon='mdi-link'
        :href='project.website'
        target='_blank'
        label='Website'
        size='sm'
      />
    </q-card-actions>

  </q-card>
</template>

<script setup lang='ts'>
import type { Project } from 'components/models';

export interface Props {
  project: Project,
}

defineProps<Props>();
</script>

<style scoped>
</style>
