<template>
  <div class="row q-pa-md">
    <div class="col">
      <span class="text-h3 text-primary">{{ title }}</span>
      <br />
      <span class="text-h5 text-secondary text-italic">
        <q-icon v-if="icon" :name="icon" left />
        {{ subtitle }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SectionHeader',
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: false,
    },
    icon: {
      type: String,
      required: false,
    },
  },
};
</script>

<style scoped></style>
