<template>
  <q-icon :name='icon' :color='color' size='md' />
</template>

<script lang='ts'>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'SkillDomainIcon',

  props: {
    name: {
      type: String,
      required: true
    }
  },

  computed: {
    icon() {
      return this.skillDomains[this.name].icon;
    },
    color() {
      return this.skillDomains[this.name].color;
    }
  },

  setup() {
    return {
      skillDomains: {
        aws: { icon: 'mdi-aws', color: 'orange'},
        gcp: { icon: 'mdi-google-cloud', color: 'blue'},
        k8s: { icon: 'mdi-kubernetes', color: 'blue-10'},
        firewall: { icon: 'mdi-wall-fire', color: 'deep-orange-10'},
        devops: { icon: 'mdi-infinity', color: 'indigo'},
        blockchain: { icon: 'mdi-cube-outline', color: 'grey-5'},
      }
    };
  }

});
</script>

<style scoped>

</style>
