<template>
  <q-page padding>
    <SectionHeader
      title='Certifications'
      subtitle='Certified assessments'
      icon='mdi-certificate'
    />
    <div
      class='row q-pa-md'
    >
      <div class='col-12 col-md-4'
        v-for='certificationData in certificationDatas'
        v-bind:key='certificationData.name'
      >

        <q-card class='q-ma-md certif-bg' :style="{ 'background-image': 'url('+ certificationData.picture + ')' }">
          <q-card-section>
            <span class='text-primary text-h5'>{{ certificationData.name }}</span>
            <br />
            <SkillDomainIcon
              v-for='skillDomain in certificationData.skillDomains'
              :key='skillDomain'
              :name='skillDomain'
            />
          </q-card-section>
          <q-card-section>
            Delivered by
            <span class='text-white text-weight-bolder'>{{
                certificationData.issuer
              }}</span>
            <br />
            Certification ID:
            <span class='text-white font-italic code'>{{
                certificationData.certificationId
              }}</span>
            <br />
            Certification Date:
            <span class='text-white font-italic'>{{
                certificationData.certificationDate
              }}</span>
          </q-card-section>
          <q-card-actions>
            <q-btn
              v-if='certificationData.url'
              outline
              glossy
              color='secondary'
              icon='mdi-link'
              :href='certificationData.url'
              target='_blank'
              label='description'
              size='sm'
            />
            <q-btn
              v-if='certificationData.certificationUrl'
              outline
              glossy
              color='orange'
              icon='mdi-certificate'
              :href='certificationData.certificationUrl'
              target='_blank'
              label='certificate'
              size='sm'
            />
          </q-card-actions>
        </q-card>

      </div>
    </div>
  </q-page>
</template>

<script setup lang='ts'>
import { Ref } from 'vue';
import { Certification } from 'components/models';
import SectionHeader from 'components/SectionHeader.vue';
import SkillDomainIcon from 'components/SkillDomainIcon.vue';
import certifications from 'src/data/certifications';
import _ from 'lodash';

const certificationDatas = _.reverse(_.sortBy(certifications, ['certificationDate'])) as Ref<Certification[]>
</script>

<style scoped>
.code {
  font-family: monospace;
  background-color: #333;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.certif-bg {
  background-repeat: no-repeat;
  background-size: 10em;
  background-position: right;
  background-blend-mode: soft-light;
}
</style>
