<template>
  <q-page padding>
    <SectionHeader
      title='Experiences'
      subtitle="The societies I've worked for..."
      icon='mdi-briefcase'
    />

    <div
      class='row q-pa-md'
      v-for='experienceData in experienceDatas'
      v-bind:key='experienceData.date_start'
    >
      <div class='col-12 col-md-1 text-grey'>
        <q-icon left name='mdi-arrow-right-drop-circle-outline' />
        <span class='text--primary text-subtitle-2'>{{
            getDate(experienceData.date_start)
          }}</span>
        <br />
        <q-icon left name='mdi-arrow-left-drop-circle-outline' color='grey' />
        <span class='text-subtitle-2' v-if='experienceData.date_end'>{{
            getDate(experienceData.date_end)
          }}</span>
        <span class='text-subtitle-2 font-italic' v-else>Now</span>
      </div>
      <div class='col-12 col-md-11'>
        <span class='text-h5'>
          <span class='text-primary'>{{ experienceData.society }}</span>
          <span class='text-grey'>&nbsp;&horbar;&nbsp;</span>
          <span class='text-secondary'>{{ experienceData.job_name }}</span>
        </span>
        <br />
        <span class='text-grey text-justify'>
          {{ experienceData.mission }}
        </span>
        <ul v-if='experienceData.tasks' class='grey--text'>
          <li v-for='task in experienceData.tasks' v-bind:key='task'>
            {{ task }}
          </li>
        </ul>
        <q-chip
          size='sm'
          v-for='skill in experienceData.skills'
          v-bind:key='skill'
        >{{ skill }}
        </q-chip
        >
        <br />
        <span class='text-grey text-italic'>
          <q-icon left name='mdi-map-marker' />{{ experienceData.location }}
          <br />
          <q-icon left name='mdi-link' />
          <a :href='experienceData.website' target='_blank'>{{
              experienceData.website
            }}</a>
        </span>
      </div>
    </div>
  </q-page>
</template>

<script setup lang='ts'>
import _ from 'lodash';
import moment from 'moment';
import { Ref } from 'vue';
import { Experience } from 'components/models';
import SectionHeader from 'components/SectionHeader.vue';
import Experiences from 'src/data/experiences';

const experienceDatas = _.reverse(_.sortBy(Experiences, ['start_date'])) as Ref<Experience[]>;

function getDate(date) {
  return moment(date).format('YYYY MMM');
}
</script>
