<template>
  <q-page class="justify-start" padding>
    <SectionHeader title="Introduction" subtitle="About me..." />

    <div class="row">
      <div class="col q-pa-md">
        <p v-for="homeText in homeTexts" :key="homeText" class="">
          {{ homeText }}
        </p>

        <q-img
          v-for="certificationImage in certificationImages"
          :key="certificationImage"
          :src="certificationImage"
          width="80px"
          style="max-height: 120px"
          class="q-ma-md float-left"
        />
      </div>

      <div class="col-xs-12 col-sm-3">
        <IdentityCard />
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import SectionHeader from 'components/SectionHeader.vue';
import IdentityCard from 'components/IdentityCard.vue';
import home from '../data/home';
import certifications from '../data/certifications';
import _ from 'lodash';

const homeTexts = home
const certificationImages = _.filter(certifications, (a) => !!a.picture).map(
  (a) => a.picture
)
</script>
