<template>
  <q-page padding>
    <SectionHeader title="Links" subtitle="My others me..." icon="mdi-link" />

    <div
      class="row q-pa-md"
      v-for="linkData in linkDatas"
      v-bind:key="linkData.website"
    >
      <div class="col">
        <span class="text-h5 text-primary">
          <q-icon :name="linkData.icon" left :color="linkData.color" size='xl' />
          {{ linkData.description }}
        </span>
        <span class='q-gutter-sm q-pa-md'>
          <img v-for='badge in linkData.badges' :key='badge' :src='badge' alt='dd' />
        </span>
        <br />

        <span class='q-gutter-sm q-pa-md'>
          <q-icon name='mdi-link' color='grey' left />&emsp;
          <a :href="linkData.website" target='_blank'>{{ linkData.website }}</a>
        </span>
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { Ref } from 'vue';
import SectionHeader from 'components/SectionHeader.vue';
import links from 'src/data/links';
import { Link } from 'components/models';

const linkDatas = links as Ref<Link[]>
</script>
