<template>
  <q-page padding>
    <SectionHeader
      title='Projects'
      subtitle='Personal projects & contribution to open source project...'
      icon='mdi-trophy'
    />

    <q-tabs
      v-model='tab'
      dense
      class='text-grey'
      active-color='primary'
      indicator-color='primary'
      align='left'
      narrow-indicator
    >
      <q-tab name='personal' :label='`Personal projects (${personalProjects.length})`' />
      <q-tab name='contrib' :label='`Contribution to open source projects (${contribProjects.length})`' />
    </q-tabs>

    <q-tab-panels v-model='tab'>
      <q-tab-panel name='personal' style='background-color: #121212'>
        <div class='row'>
          <div
            v-for='project in personalProjects'
            v-bind:key='project.title'
            class='col-12 col-sm-4'
          >
            <ProjectCard :project='project' />
          </div>
        </div>
      </q-tab-panel>

      <q-tab-panel name='contrib' style='background-color: #121212'>
        <div class='row'>
          <div
            v-for='project in contribProjects'
            v-bind:key='project.title'
            class='col-12 col-sm-4'
          >
            <ProjectCard :project='project' />
          </div>
        </div>
      </q-tab-panel>
    </q-tab-panels>

  </q-page>
</template>

<script setup lang='ts'>
import _ from 'lodash';
import { ref, Ref } from 'vue';
import SectionHeader from 'components/SectionHeader.vue';
import projects from 'src/data/projects';
import { Project } from 'components/models';
import ProjectCard from 'components/ProjectCard.vue';

const tab = ref('personal');

const projectDatas = projects as Ref<Project[]>;

const personalProjects = _.filter(projectDatas, (project) => project.owned);
const contribProjects = _.filter(projectDatas, (project) => !project.owned);
</script>
