<template>
  <q-page padding>
    <SectionHeader
      title='Publications'
      subtitle='Articles published over the internet...'
      icon='mdi-script-text-outline'
    />
    <div class='row q-pa-md'>
      <div
        v-for='publicationData in publicationsData'
        v-bind:key='publicationData.title'
        class='col-12 col-sm-4'
      >
        <q-card class='q-ma-md certif-bg'>
          <q-card-section>
            <span class='text-h5 text-primary'>
              {{ publicationData.title }}
            </span>
            <br />
            <span class='text-grey font-italic'>
              Published the <span class='text-white'>{{ publicationData.date }}</span> on <span class='text-white'>{{ publicationData.publisher }}</span>.
            </span>
            <br />
            <span class='q-gutter-sm'>
              <q-chip outline color='blue' size='sm'>Lang: {{ publicationData.lang }}</q-chip>
              <q-chip outline color='grey' size='sm' v-for='tag in publicationData.tags' :key='tag' :label='tag' />
            </span>
          </q-card-section>
          <q-card-section>
            <span class='text-italic'>
              {{ publicationData.description }}
            </span>
          </q-card-section>
          <q-card-actions>
            <q-btn
              v-if='publicationData.link'
              glossy
              outline
              color='primary'
              icon='mdi-link'
              :href='publicationData.link'
              target='_blank'
              label='Article'
              size='sm'
            />
          </q-card-actions>
        </q-card>

      </div>
    </div>
  </q-page>
</template>

<script setup lang='ts'>
import { Ref } from 'vue';
import SectionHeader from 'components/SectionHeader.vue';
import publications from 'src/data/publications';
import { Publication } from 'components/models';

const publicationsData = publications as Ref<Publication[]>
</script>
