<template>
  <q-page class="justify-start" padding>
    <SectionHeader
      title="School"
      subtitle="What I've learn..."
      icon="mdi-school"
    />

    <q-timeline color="secondary" class='q-pa-md'>
      <q-timeline-entry
        v-for="trainingData in trainingDatas"
        :key="trainingData.title"
        :title="trainingData.title"
        :subtitle="trainingData.year"
        icon="mdi-school"
      >
        <div v-if="trainingData.description" class="text-justify">
          {{ trainingData.description }}
        </div>
        <span class="text-grey text-italic">
          <q-icon name="mdi-map-marker" left />{{ trainingData.location }}
        </span>
      </q-timeline-entry>
    </q-timeline>
  </q-page>
</template>

<script setup lang="ts">
import { defineComponent, Ref } from 'vue';
import SectionHeader from 'components/SectionHeader.vue';
import training from '../data/training';
import { Training } from 'components/models';
import _ from 'lodash';

const trainingDatas = _.sortBy(training, 'year').reverse() as Ref<Training[]>
</script>
