<template>
  <q-page padding>
    <SectionHeader title='Skills' subtitle='My weapons...' icon='mdi-target' />
    <div
      class='row q-pa-sm'
      v-for='skillDomain in SkillData'
      v-bind:key='skillDomain.title'
    >
      <div class='col'>
        <span class='text-h5 text-primary'>{{ skillDomain.title }}</span>
        <br />
        <q-chip
          v-for='skill in skillDomain.skills'
          v-bind:key='skill'
          :label='skill'
        />
      </div>
    </div>
  </q-page>
</template>

<script setup lang='ts'>
import { Ref } from 'vue';
import SectionHeader from 'components/SectionHeader.vue';
import skills from 'src/data/skills';
import { Skill } from 'components/models';

const SkillData = skills as Ref<Skill[]>
</script>
