<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-dark">
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        <q-toolbar-title>
          Yann Ponzoni
          <span class="text-secondary text-overline">Curriculum Vitae</span>
        </q-toolbar-title>

        <div class="q-pa-md q-gutter-sm">
          <q-btn
            glossy
            rounded
            flat
            size="sm"
            color="deep-orange"
            icon-right="mdi-file-pdf-box"
            label="Download as PDF"
            href="/CurriculumVitae_YannPonzoni_v2023_05_ENGLISH.pdf"
            target="_blank"
          />
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <div class="q-pa-md q-gutter-sm">
          <q-btn
            v-for="link in linkData"
            :key="link.description"
            flat
            glossy
            round
            size="sm"
            :color="link.color"
            :icon="link.icon"
            :href="link.website"
            target="_blank"
          />
        </div>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, Ref, ref } from 'vue';
import EssentialLink from 'components/EssentialLink.vue';
import links from 'src/data/links';
import { Link } from 'components/models';

const linksList = [
  {
    title: 'Home',
    icon: 'home',
    link: '/',
  },
  {
    title: 'School',
    icon: 'school',
    link: '/school/',
  },
  {
    title: 'Skills',
    icon: 'mdi-bookshelf',
    link: '/skills/',
  },
  {
    title: 'Experiences',
    icon: 'mdi-briefcase',
    link: '/experiences/',
  },
  {
    title: 'Certifications',
    icon: 'mdi-certificate',
    link: '/certifications/',
  },
  {
    title: 'Publications',
    icon: 'mdi-script-text-outline',
    link: '/publications/',
  },
  {
    title: 'Projects',
    icon: 'mdi-trophy',
    link: '/projects/',
  },
  {
    title: 'Links',
    icon: 'link',
    link: '/links/',
  },
];

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink,
  },

  setup() {
    const leftDrawerOpen = ref(false);

    return {
      essentialLinks: linksList,
      linkData: links as Ref<Link[]>,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
});
</script>
